@import url("grids.css");
@import url("vinyl.css");

*{
    margin: 0%;
    font-family: 'Abril Fatface', cursive;
}
body{
    background-color: #0C0E13;

}


#nav-Background{
    background-color: #D27C5A  ;
    height: 187px;
    width: 100%;
    margin: 0;
    padding: 0;


}

.nav-Li{
    display: inline-block;
    text-align: center;
    font-weight: bold;

}

.nav-UL{
    
    text-align: center;
    color: white;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    width: auto;
}

.nav-UL .container-fluid {
    width: auto;
}

#backgroud-H{
    width: 100%;
    height: 100%;

}
h1{
    font-size: xx-large;
    font-weight: 400;
    color: rgb(192, 1, 1) ;
    font-style: italic;
    text-decoration: underline double; 
    margin-right: 5px;
}

h2{
    font-size: larger;
    font-weight: 500;
    color: #3762AB;
    font-style: italic;
    text-decoration: underline;
}

h3{
    font-size: large;
    font-weight: 600;
    color: #758F82 ;
}

p{
    font-size: medium;
    color: rgb(238, 238, 238);
    font-size: 14px;
    font-family: 'Abril Fatface', cursive;
}

a{
    text-decoration: none;
    color: black;
}

@media only screen and (min-width:900px){



.charlyTitPNG{
    height: 87px;
    width: 400px;
    text-align: left;
    float: left;
    margin-top: -130px;
    margin-left: 170px;
    justify-content: left;
}

.garciaTitPNG{
    height: 87px;
    width: 400px;
    text-align: right;
    float: right;
    margin-top: -130px;
    margin-right: 170px;
    justify-content: right;
}





.sayNoMore{
    height: 135px;
}

.sayNoMore2{
    height: 135px;
}

.noDecoHrf{
    text-decoration: none;
    color: #000;
}

.eVP{
    float: right;
    justify-content: right;
    text-align: right;
    margin-right: 20px;
    margin-top: -25px;
}



#imgBody1{
    align-items: flex-start;

}

.homePcl{
    margin-right: 10px; 
    margin-left: 500px; 
    margin-top: -225px;
    text-align: right;
}

#homeP{
    font-size: 14px;
    font-weight: 100;
}


#parrafoInicio1{
    align-items: flex-end;

}

#carruIndPosit{
    
    margin-bottom: -30px;
    
}

#carruInn{
    padding-left: 33px;
    padding-top: 18px;
}

.controlDer{
    margin-right: -1px;
}

.controlIzq{
    padding-right: 30px;
}

.showTit{
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}


.alignCenter{
    text-align: center;
    justify-content: center;
}

.alignRight{
    text-align: right;
}

.img-social{
    max-height: 1px;
    max-width: 1px;
    height: 1px;
    width: 1px;
    align-content: space-between;
    float: right;
}

#tableSet{
    float: left;

}

#socialMedia{
    align-items: flex-end;
    justify-content: space-evenly;
    text-align: right;
    margin-top: -111px;
    margin-right: 15px;
}


.logoGr{
    text-align: center;

    justify-content: center;
}



#titlePosit{

    height: 100%;
    width: 100%;
    text-align: right;
    padding-top: 80px;
    padding-right: 10px;
}


#bodySet{

    
    width: 500px;
}

#textPosit{
    height: 100%;
    width: 100%;

}

#footerSet{
    background-color: #D27C5A;

    height: 142px;
    width: 100%;
    position: fixed;
    bottom: 0px;
}


#footerSet2{
    background-color: #D27C5A;

    height: 142px;
    width: 100%;

    bottom: 0px;
}


.copyP{
    text-align: center;
    justify-content: center;
    font-size: smaller;
    margin-right: 450px;
}

.contPhone{
    display: none;
}

}


@media only screen and (max-width:600px){
    
    .charlyTitPNG{
        display: none;
    }
    
    .garciaTitPNG{
        display: none;
    }
    
   
    .sayNoMore{
        height: 104px;
        width: 104px;
        float: left;
        margin-left: 30px;
        margin-top: -22px;
    }
    
    .sayNoMore2{
        height: 135px;
        display: none;
    }

    .noDecoHrf{
        text-decoration: none;
        color: #000;
    }
    
    .eVP{
        float: right;
        justify-content: right;
        text-align: right;
        margin-right: 20px;
        margin-top: -25px;
    }
    
    .navTogCust{
        margin-bottom: 115px;
    }

    .navDropCust{
        margin-left: 15px;
        margin-top: -30px;
    }

    .nav-UL .navbar-nav{
        margin-top: -84px;
    }

    
    #imgBody1{
        align-items: flex-start;
    
    }
    
    #homeP{
        font-size: 10px;
        font-weight: 100;
    }
    
    .homePcl{
        margin-top: 100px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    #parrafoInicio1{
        align-items: flex-end;
    
    }
    
    #carruIndPosit{
        
        margin-bottom: -30px;
        
    }
    
    #carruInn{
        padding-left: 33px;
        padding-top: 18px;
    }
    
    .controlDer{
        margin-right: -1px;
    }
    
    .controlIzq{
        padding-right: 30px;
    }
    
    .showTit{
        text-align: center;
        justify-content: center;
        margin-top: 250px;
    }

    .quienPosit{
        text-align: center;
        justify-content: center;
        margin-top: 50px;
    }

    .carruPhone{
        justify-content: center;
        align-items: center;
        text-align: center;
        align-self: center;
        align-content: center;
    }
    
    
    .alignCenter{
        text-align: center;
        justify-content: center;
    }
    
    .alignRight{
        text-align: right;
    }
    
    .img-social{
        max-height: 1px;
        max-width: 1px;
        height: 1px;
        width: 1px;
        align-content: space-between;
        float: right;
    }
    
    #tableSet{
        float: left;
        display: none;
    }
    
    #socialMedia{
        align-items: flex-end;
        justify-content: space-evenly;
        text-align: right;
        margin-top: -111px;
        margin-right: 15px;
    }
    
    
    .logoGr{
        text-align: center;
    
        justify-content: center;
    }
    
    #navBoot{
        
            height: 50%;
            width: 100%;
            float:none;
    }
    
    
    #titlePosit{
    
        height: 100%;
        width: 100%;
        text-align: right;
        padding-top: 80px;
        padding-right: 10px;
    }
    
    
    #bodySet{
    
        
        width: 500px;
    }
    
    #textPosit{
        height: 100%;
        width: 100%;
    
    }
    
    #footerSet{
        background-color: #D27C5A;
    
        height: 142px;
        width: 100%;
        margin-top: 330px;
    }

    .copyPDi{
        margin-top: 23px;
        margin-right: -298px;
    }

    .copyP{
        text-align: center;
        justify-content: center;
        font-size: x-small;
        margin-right: 450px;
    }
    
    .contPhone{
        font-size: xx-small;
        float: right;
        text-align: right;
        justify-content: right;
    }
}